/* Estilos generales*/
html {
  font-family: sans-serif;

  --main-color       : #1083D6;
  --text-color       : #2A3B47;
  --light-text-color : #A0A7AC;
  --border-color     : #EFF3F5;
  --container-color  : #FFFFFF;
  --body-color       : #FBFBFE;

  background-color:var(--body-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {  
    font-family: sans-serif;

    --main-color       : #52A5E0;
    --text-color       : #C8CDD0;
    --light-text-color : #A0A7AC;
    --border-color     : #2A3B47;
    --container-color  : #212E36;
    --body-color       : #192229;
  
    background-color:var(--body-color);
    color: var(--text-color);
  }
}

html.dark {
  --main-color       : #52A5E0;
  --text-color       : #C8CDD0;
  --light-text-color : #A0A7AC;
  --border-color     : #2A3B47;
  --container-color  : #212E36;
  --body-color       : #192229;

  background-color:var(--body-color);
  color: var(--text-color);
}

html.light {

  --main-color       : #1083D6;
  --text-color       : #2A3B47;
  --light-text-color : #A0A7AC;
  --border-color     : #d6e2f6;
  --container-color  : #d6e2f6;
  --body-color       : #FBFBFE;

  background-color:var(--body-color);
  color: var(--text-color);
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

p { max-width: 75ch }

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
  color: var(--main-color);
}

h2 {
  margin-top: 30px;
  color: var(--main-color);
}

h3 {
  margin-top: 30px;
  color: var(--text-color);
}

main {
  min-height: 70vh;
}

footer {
  margin-top: 2rem;
  align-self: end;
  width: 100%;
}

a {
  color: var(--main-color);
  text-decoration:underline;
  font-weight: bold;
}

/* estilos de la barra de navegación*/

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--text-color);
}

.nav-links {
  position: fixed;
  top: 0px;
  left: 80px;
  background-color: var(--container-color);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
}

.nav-links a {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color);
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: var(--container-color);
  color: var(--text-color);
  border-radius: 10px;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    position: static;
    box-shadow: 0 0 0 0;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}