---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const identity = {
  firstName: "Josemi",
  userName: "JosemiGT",
  country: "España",
  occupation: "Programador y desarrollador de soluciones MS Dynamics 365",
  hobbies: ["deporte", 
  			"leer", 
			"programar"],
};

const skills = ["C#", 
				"MS Dynamics 365", 
				"JavaScript", 
				"HTML/CSS", 
				"NodeJS", 
				"ReactJS", 
				"SQL-T",
				"Astro"];
---

<BaseLayout
	title="Portfolio de JosemiGT | Programación, dotNet, C#, JavaScript, Dynamics 365"
	pageDescription="Soy JosemiGT y me dedico a programar desde hace más de 5 años, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. También me gusta NodeJS y JavaScript/TypeScript. Antes de ello, estudié ingeniería de organización industrial."
	pageTitle="Hola, soy Josemi 💻"
 >
    <p>
		Soy Josemi, me dedico a programar desde hace más de 5 años, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. 
		Antes de ello, estudié ingeniería de organización industrial, por lo que me gusta la tecnología desde diferentes aspectos.
	</p>
      
	<p>
		Algunos datos sobre mí:
	</p>

	<ul>
		<li> Vivo en {identity.country}.</li>
		<li> Trabajo como {identity.occupation}.</li>
		{identity.hobbies.length > 0 &&
			<li> Algunas de mis aficiones son: {identity.hobbies.join(", ")} ...</li>
		}
	</ul>

	<p>Algunas tecnologías con las que he trabajado son:</p>

	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	
	<p>
		Este sitio web ha sido construido con Astro 🚀, puedes consultar su código fuente <a target="_blank" href="https://github.com/JosemiGT/josemigt-blog">aquí</a>.
	</p>
</BaseLayout>

<style>
	.social-icons{
		display: flex;
		justify-content: left;
		gap: 0.5rem;
		align-items: center;
	}
</style>