---
import GitHubIcon from '../icons/GitHubIcon.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import XsocialMediaIcon from '../icons/XsocialMediaIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "Sobre mi";

const identity = {
  firstName: "Josemi",
  userName: "JosemiGT",
  country: "Espa침a",
  occupation: "Programador y desarrollador de soluciones MS Dynamics 365",
  hobbies: ["deporte", 
  			"leer", 
			"programar"],
};

const skills = ["C#", 
				"MS Dynamics 365", 
				"JavaScript", 
				"HTML/CSS", 
				"NodeJS", 
				"ReactJS", 
				"SQL-T",
				"Astro"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>
		Soy Josemi, me dedico a programar desde hace m치s de 5 a침os, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. 
		Antes de ello, estudi칠 ingenier칤a de organizaci칩n industrial, por lo que me gusta la tecnolog칤a desde diferentes aspectos.
	</p>
      
	<p>
		Algunos datos sobre m칤:
	</p>

	<ul>
		<li> Vivo en {identity.country}.</li>
		<li> Trabajo como {identity.occupation}.</li>
		{identity.hobbies.length > 0 &&
			<li> Algunas de mis aficiones son: {identity.hobbies.join(", ")} ...</li>
		}
	</ul>

	<p>Algunas tecnolog칤as con las que he trabajado son:</p>

	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>
	
	<p>
		Este sitio web ha sido construido con Astro 游, puedes consultar su c칩digo fuente <a target="_blank" href="https://github.com/JosemiGT/josemigt-blog">aqu칤</a>.
	</p>
</BaseLayout>

<style>
	.social-icons{
		display: flex;
		justify-content: left;
		gap: 0.5rem;
		align-items: center;
	}
</style>