---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
import DownArrow from "../icons/DownArrow.astro";
import BlogPostCard from "../components/BlogPostCard.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="JosemiGT | Blog, programación, dotNet, C#, JavaScript, Dynamics 365"
	description="Soy JosemiGT y me dedico a programar. Me interesa '.Net', C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="Blog de JosemiGT"
>
	<div class="introIcon">
		<p class="introText">Artículos recientes</p>
		<DownArrow />
    </div>
	<br>
	{allPosts
	.sort(
		// Ordenación por fecha de publicación, más recientes primeros.
		(a, b) => { return b.data.pubDate.getTime() - a.data.pubDate.getTime()})
	.map(
		(post) => 
		<BlogPostCard 
			url={`/posts/${post.slug}`} 
			postData={post.data} />
		)
	}
</BaseLayout>

<style>
	.introIcon {
        display: flex;
		flex-direction: column;
        justify-content: center;
		text-align: center;
		align-items: center;
		gap: 0em;
    }
    .introText { 
		color: var(--text-color);
		font-weight: bold;
		font-size:larger;
		margin-bottom: 0;
	}
</style>