---
import { getCollection } from "astro:content";
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro'
const allPosts = await getCollection("posts");
console.log(allPosts);
const pageTitle = "Blog de JosemiGT";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Puedes encontrar mis publicaciones a continuación:</p>

    <ul>
        {allPosts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />)}
    </ul>
</BaseLayout>