<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog/">Blog</a>
  
    <h1>JosemiGT-blog</h1>
    <h2>Holi Encarni!</h2>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  </body>