---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
	title="JosemiGT | Reseña de libros"
	description="Reseña de los libros que me leo. Principalmente serán libros técnicos, de tecnología, programación y fantasía"
	pageTitle="Reseñas de libros por JosemiGT"
>
    <p>En este apartado se detallarán las reseñas de libros que voy leyendo. Principalmente serán libros técnicos, de tecnología, programación y fantasía.</p>

</BaseLayout>

<style>
    h3 { text-align: center; }
    .IconError {
        display: flex;
        justify-content: center;
    }
</style>
