---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
import DownArrow from "../icons/DownArrow.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="JosemiGT | Blog, programación, dotNet, C#, JavaScript, Dynamics 365"
	description="Soy JosemiGT y me dedico a programar. Me interesa '.Net', C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="Blog de JosemiGT"
>
	<p class="introText">Artículos recientes</p>
	<div class="introIcon">
		<DownArrow />
    </div>
	<br>
	{allPosts
	.sort(
		// Ordenación por fecha de publicación, más recientes primeros.
		(a, b) => { return b.data.pubDate.getDate() - a.data.pubDate.getDate()})
	.map(
		(post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			postData={post.data} />
		)
	}
</BaseLayout>

<style>
    .introText { 
		text-align: center; 
		color: var(--text-color);
		font-weight: bold;
		font-size:larger;
	}
	.introIcon {
        display: flex;
        justify-content: center;
    }
</style>