---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="JosemiGT | Blog, programación, dotNet, C#, JavaScript, Dynamics 365"
	pageDescription="Soy JosemiGT y me dedico a programar. Me interesa '.Net', C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="Blog de JosemiGT"
>
	<h3>Artículos recientes</h3>
	<br>
	{allPosts
	.sort(
		// Ordenación por fecha de publicación, más recientes primeros.
		(a, b) => { return b.data.pubDate.getDate() - a.data.pubDate.getDate()})
	.map(
		(post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			postData={post.data} />
		)
	}
</BaseLayout>