---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="Blog de JosemiGT | Programaci贸n, dotNet, C#, JavaScript, Dynamics 365"
	pageDescription="Soy JosemiGT y me dedico a programar desde hace m谩s de 5 a帽os, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. Tambi茅n me gusta NodeJS y JavaScript/TypeScript. Antes de ello, estudi茅 ingenier铆a de organizaci贸n industrial."
	pageTitle="Hola, soy Josemi "
>
	<p> Aqu铆 las entradas recientes de mi blog:</p>
	<br>
	{allPosts
	.sort(
		// Ordenaci贸n por fecha de publicaci贸n, m谩s recientes primeros.
		(a, b) => { return b.data.pubDate.getDate() - a.data.pubDate.getDate()})
	.map(
		(post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			postData={post.data} />
		)
	}
</BaseLayout>