---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";
const pageTitle = 'JosemiGT-blog';
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
	<p>Reflexiones de JosemiGT. Principalmente hablo de tecnología y de mis aprendizajes.</p>
	<h2>Entradas recientes:</h2>
	<br>
	{allPosts.reverse().map((post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			postData={post.data} />)}
</BaseLayout>