---
import BaseLayout from '../layouts/BaseLayout.astro';
import GardenTable from "../components/GardenTable.astro";
---

<BaseLayout 
	title="JosemiGT | Jard칤n digital | Blog, programaci칩n, dotNet, C#, JavaScript, Dynamics 365"
	description="Soy JosemiGT y me dedico a programar. Me interesa '.Net', C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="JosemiGT"
>
	<h2>Sobre este sitio</h2>
	<p>
		Escribo sobre programaci칩n, tecnolog칤a, linux, servidores, selfhosting y cualquier tema t칠cnico que me llame.
	</p>
	<p>
		Este es mi jard칤n digital, es decir, un blog donde cada post de este sitio est치 vivo y puede evolucionar con el tiempo. A diferencia de un blog cl치sico, donde se busca tener un post para cada tema, ordenados de forma cronol칩gica y generalmente nunca volver a actualizar ese contenido, aqu칤 busco cultivar las ideas y conceptos, por lo que los contenidos se ir치n actualizando y ampliando conforme aprenda m치s de un tema, tanto con posts relaciondos como ampliando el propio post. As칤, quiero construir un espacio donde muestro como voy cultivando mis aprendizajes e ideas.
	</p>
	<p> 
		Cada idea o concepto, es como una semilla que brota cuando le doy forma, y lentamente va creciendo, floreciendo y madurando. O marchitando si no se riega y abona.
	</p>
	<p>
		En esta primera p치gina, se puede observar los temas sobre los que estoy indagando y su grado de maduraci칩n. 
		Los s칤mbolos de plantas me ayudan a representar la fase de desarrollo de una nota, idea o tema.
	</p>
	<ul>
		<li>游꺔 <strong>Brote</strong>: notas de un tema reci칠n plantada, primer borrador compartido.</li>
		<li>游 <strong>Planta en crecimiento</strong>: nota desarrollada, pero a칰n en evoluci칩n.</li>
		<li>游꺕 <strong>Planta madura</strong>: art칤culo/Nota consolidado, material de referencia.</li>
		<li>游꺚 <strong>Flor</strong>: idea relacionada o que ha nacido desde una nota/art칤culo.</li>
		<li>游쀁<strong>Planta silvestre</strong>: notas sobre referencias externas relacionadas con un tema.</li>
		<li>游꼒 <strong>Hojas</strong>: apuntes cortos conectados a un tema, no son ideas si no anotaciones adicionales.</li>
	</ul>

	<GardenTable/>

</BaseLayout>

<style>

</style>