---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import DownArrow from "../icons/DownArrow.astro";
import BlogPostCard from "../components/BlogPostCard.astro";
import GardenTable from "../components/GardenTable.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="JosemiGT | Blog, programaci칩n, dotNet, C#, JavaScript, Dynamics 365"
	description="Soy JosemiGT y me dedico a programar. Me interesa '.Net', C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="JosemiGT"
>
<p>
	Este es mi jard칤n digital, un espacio donde cultivo ideas y aprendizajes. Sientete libre de explorar mis anotaciones.
</p>
<p>
	Cada nota/post en este sitio web est치 viva y puede evolucionar seg칰n mis conocimientos en un tema mejoren con el tiempo. 
	Los s칤mbolos de plantas me ayudan a representan la fase de desarrollo de una nota, idea o tema.
</p>
<ul>
	<li>游꺔 <strong>Brotando</strong>: reci칠n plantada, primer borrador compartido.</li>
	<li>游 <strong>Creciendo</strong>: m치s desarrollada, a칰n en evoluci칩n.</li>
	<li>游꺚 <strong>Floreciendo</strong>: bien formada, casi completa.</li>
	<li>游꺕 <strong>Madura</strong>: consolidada, material de referencia.</li>
</ul>


<GardenTable/>

</BaseLayout>

<style>

</style>