---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = 'JosemiGT-web';
---

<BaseLayout pageTitle={pageTitle}>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	<p>Bienvenidos a este modesto sitio. Donde hablaré principalmente de tecnología.</p>

	<p>Este sitio web ha sido construido con Astro, puedes consultar su código fuente <a target="_blank" href="https://github.com/JosemiGT/josemigt-blog">aquí</a>.</p>
</BaseLayout>