---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("posts");
---

<BaseLayout 
	title="JosemiGT | Blog, programación, dotNet, C#, JavaScript, Dynamics 365"
	pageDescription="Soy JosemiGT y me dedico a programar desde hace más de 5 años, especialmente en soluciones de MS Dynamics 365 y en el entorno .Net de Microsoft. También me gusta NodeJS y JavaScript/TypeScript. Antes de ello, estudié ingeniería de organización industrial."
	pageTitle="Hola, soy Josemi"
>
	<h3>Artículos recientes</h3>
	<br>
	{allPosts
	.sort(
		// Ordenación por fecha de publicación, más recientes primeros.
		(a, b) => { return b.data.pubDate.getDate() - a.data.pubDate.getDate()})
	.map(
		(post) => 
		<BlogPost 
			url={`/posts/${post.slug}`} 
			postData={post.data} />
		)
	}
</BaseLayout>