---
import BaseLayout from '../layouts/BaseLayout.astro';
import GardenTable from "../components/GardenTable.astro";
---

<BaseLayout 
	title="JosemiGT | Blog | Jard칤n digital | Programaci칩n, C#, JavaScript, GNU, Linux, Selfhosting"
	description="Soy JosemiGT y me dedico a programar. Me interesa el software libre, C#, NodeJS, JavaScript/TypeScript, Linux, SQL."
	pageTitle="JosemiGT"
>

	<GardenTable/>

	<h2>Sobre este sitio</h2>
	<p>
		Soy <a href="/about/">JosemiGT</a> y te doy la bienvenida a mis notas p칰blicas digitales de lo que voy aprendiendo en programaci칩n, tecnolog칤a, GNU/Linux, servidores, selfhosting y cualquier tema t칠cnico que me interese.
	</p>
	<p>
		Este espacio, est치 a medio camino entre blog y jard칤n digital, los posts que escribo en este sitio, est치n vivos y puede evolucionar con el tiempo. 
		Busco cultivar las ideas y conceptos que voy aprendiendo, por lo que los contenidos se ir치n actualizando y ampliando conforme aprenda m치s de un tema, tanto con posts relaciondos como ampliando el propio post.
	</p>
	<p> 
		Cada idea o concepto, es como una semilla que brota cuando le doy forma, y lentamente va creciendo, floreciendo y madurando. O marchitando si no se riega y abona.
		Pero todo lo que escribo, es fruto de mi 쯜nteligencia? natural, no se usa ning칰n LLM ni para desarrollar este sitio, ni para escribir contenido. 
	</p>
	<p>
		En esta primera p치gina, se puede observar los temas sobre los que estoy indagando y su grado de maduraci칩n. 
		Los s칤mbolos de plantas me ayudan a representar la fase de desarrollo de una nota, idea o tema.
	</p>
	<ul>
		<li>游꺔 <strong>Brote</strong>: notas de un tema reci칠n plantada, primer borrador compartido.</li>
		<li>游 <strong>Planta en crecimiento</strong>: nota desarrollada, pero a칰n en evoluci칩n.</li>
		<li>游꺕 <strong>Planta madura</strong>: art칤culo/Nota consolidado, material de referencia.</li>
		<li>游꺚 <strong>Flor</strong>: idea relacionada o que ha nacido desde una nota/art칤culo.</li>
		<li>游쀁<strong>Planta silvestre</strong>: notas sobre referencias externas relacionadas con un tema.</li>
		<li>游꼒 <strong>Hojas</strong>: apuntes cortos conectados a un tema, no son ideas si no anotaciones adicionales.</li>
	</ul>

</BaseLayout>

<style>

</style>