---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
	title="JosemiGT | Política de privacidad"
	description="Política de privacidad del Blog de JosemiGT"
	pageTitle="JosemiGT | Política de privacidad"
>
    <h2>Uso de cookies e información personal</h2>
    <ul>
        <li>
            En este blog no se generan ni se usan cookies. Puedes comprobarlo en la web de <a target="_blank" href="https://www.cookiemetrix.com/">cookiemetrix.com</a>.
        </li>
        <li>
            Tampoco se almacenan datos en el navegador para ser compartidos, enviados o vendidos a terceros.
        </li>
        <li>
            No se comparte, envía o vende información personal a terceros.
        </li>
    </ul>

    <h2>Términos y condiciones de uso</h2>
    <p>
        No es necesario aceptar ningún término o condición de uso para visitar, leer o copiar algún contenido de este blog.
    </p>
    <p>
        Todo el contenido publicado en este sitio web está bajo <a target="_blank" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International 4.0 License</a>, a menos que se especifique lo contrario.
    </p>
</BaseLayout>