---
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from 'astro:content';
import Tag from "./Tag.astro";
interface Props {
	postData: CollectionEntry<'posts'>['data'];
    url: string;
}

const { postData, url } = Astro.props;
---

<a href={url}>
    <article>
        <div class="date">
            <FormattedDate date={postData?.pubDate} />
        </div>
        <div class="postInformation">
            <h2>{postData?.title}</h2>  
            <p>{postData?.description}</p>
            <p>[...] Click para seguir leyendo</p>
        </div>
    </article>
</a>

<style>


    a{
        color: inherit;
        text-decoration: none;
    }

    article {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      border: 1cm;
      border-style: solid;
      border-width: 1px;
      border-radius: 1rem;
      border-color: inherit;
      width: 100%;
      padding-top: 2%;
    }

    .date {
        display: flex;
        justify-content: center;
        padding: 5%;
    }
    .postInformation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

  </style>