---
import GitHubIcon from "../icons/GitHubIcon.astro";
import LinkedinIcon from "../icons/LinkedinIcon.astro";
import MastodonIcon from "../icons/MastodonIcon.astro";
import RssIcon from "../icons/RssIcon.astro";
const userName = "JosemiGT";
---

<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  a {
    margin-top: 10px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: var(--main-color);
  }
</style>

<footer>
  <p>Hecho con ❤️ por <a href="/about/">JosemiGT</a></p>
  <div>
    <GitHubIcon username={userName}/>
    <LinkedinIcon username={userName}/>
    <MastodonIcon />
    <RssIcon />
  </div>
  <a href="/privacidad">Política de privacidad</a>
  <div style="margin-top: 10px;">
    <img src="/imgs/WrittenByAHuman.png" alt="Escrito por un humano, no por una IA" />
  </div>
</footer>