---
import { getCollection } from "astro:content";
import { EmojiState, PublicState, type TagData } from '../types/garden';

const posts = await getCollection("posts");

const publicPosts = posts.filter(
  post => PublicState.includes(post.data.state)
);

// Agrupamos por tag
const tagsMap: Record<string, TagData> = {};

publicPosts.forEach(post => {

  const estadoNota = post.data.state || "sprouting";
  const tags = post.data.tags || [];

  tags.forEach(tag => {

    if (!tagsMap[tag]) {
      tagsMap[tag] = { posts: [], allStates: []};
    }

    tagsMap[tag].posts.push(post);
    tagsMap[tag].allStates.push(estadoNota);
  });
});

const tagsOrdenadas = Object.keys(tagsMap).sort();
---

<section>
  <h2>Índice de contenidos</h2>

  <ul>
    {tagsOrdenadas.map((tag) => {
      const { posts, allStates } = tagsMap[tag];

      return (
        <details class="indice">
          <summary>
            {tag} {allStates.map(state => EmojiState[state])}
          </summary>
          <ul>
            {posts.map((post) => (
              <li>
                <a href={`/posts/${post.slug}`}>
                  {EmojiState[post.data.state]} {post.data.title}
                </a>
              </li>
            ))}
          </ul>
        </details>
      );
    })}
  </ul>
</section>

<style>

details {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  background: var(--container-color);
  transition: background 0.2s ease;
  margin-bottom: 0.75rem;
}

summary {
  display: flex;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

summary::before {
  content: "▸";
  margin-right: 0.5rem;
  transition: transform 0.2s ease;
  color: var(--light-text-color);
}

details[open] summary::before {
  transform: rotate(90deg);
}

details ul {
  margin: 0.5rem 0 0.25rem 1.5rem;
  padding: 0;
  list-style: none;
}

details li {
  margin: 0.25rem 0;
}

details li a {
  text-decoration: none;
  color: var(--light-text-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  border-radius: 4px;
  transition: background 0.2s ease;
}

details li a:hover {
  /* background: #e6f9ed; verde claro */
  color: var(--acent-color);
}


</style>
