---
const { tag } = Astro.props;
---
<a href={`/tags/${tag}`}>
    <p class="tag">
        {tag}
    </p>
</a>
<style>
.tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: var(--main-color);
}

a {
    color: var(--body-color);
    text-decoration: none;
    font-weight: bold;
}
</style>